<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <rewrite>
      <!-- Reverse Proxy */api/ requests -->

      <rule name="ReverseProxy" stopProcessing="true">
        <match url="^/(api)/(.*)" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_URI}" negate="true" pattern="^(.*)/.well-known/(.*)$"/>
        </conditions>
        <action type="Rewrite" url="http://localhost:8080/{R:2}" />
      </rule>

      <rules>
        <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
        <rule name="StaticContent" patternSyntax="Wildcard">
          <action type="Rewrite" url="public/{R:0}" logRewrittenUrl="true"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
          </conditions>
          <match url="*.*"/>
        </rule>

        <!-- All other URLs are mapped to the Node.js application entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
